.containerCabecera {
    margin: auto;
}

header {
    width: 360px;
    display: block;
    background-color: rgb(200, 166, 242);
}

header .logo {
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: black;
    font-size: 35px;
}

header .containerCabecera {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a {
    padding: 5px, 12px;
    text-decoration: none;
    margin-bottom: 20px;
}

header label {
    margin-bottom: 20px;
}

header a {
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 20px;
}

    header a:hover {
        color: rgb(178, 35, 207);
    }

    
    
    
    .navegacion{
        font-family: 'Monaco';
        font-weight: bold;
        font-size: 32px;
        margin-left: 28px;
        margin-top: 20px;
    }


@media(min-width: 1000px) {

    header {
        position: fixed;
        width: 100%;
    }

        header .containerCabecera {
            flex-direction: row;
            justify-content: space-between;
        }

        header nav {
            flex-direction: row;
            padding-bottom: 0;
            padding-right: 20px;
        }

        header a {
            margin-bottom: 0;
        }

        header label {
            margin-bottom: 0;
        }
}
